.contentSlidertour {
  /* position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #000);
  z-index: 999; */
}
.contentSlidertour .headerSlider {
  color: #212529;
  font-size: 20px;
}
.contentSlidertour .headerSlider {
  color: #212529;
}
.contentSlidertour .priceTour {
  color: #fff;
  font-size: 13px;
}
.contentSlidertour .priceTour span {
  font-size: 20px;
  color: #f06b53;
}
.galleryMT {
  margin-top: 80px;
}
.imageSlider {
  max-width: 100%;
  width: 100%;
  height: 289px;
}
.gallerSingelImage img {
  max-width: 100%;
  width: 100%;
  height: 260px;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
  object-fit: cover;
}
.gallerSingelImage {
  position: relative;
}
.SeeAll {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  padding: 9px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.SeeAll span {
  color: #051036;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}
.featureImge img {
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.featureContent {
  font-size: 13px;
  line-height: 19px;
  color: #555;
}
.button_moblie {
  position: fixed;
  bottom: 0;
  display: block;
  padding: 16px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  background: #f06b53;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
}
.button_moblie.close {
  display: none;
}
.button_moblie button {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #003366 !important;
  padding: 14px;
  border-radius: 8px;
  animation: 2s 2s infinite wiggle;
}
.tooltip-content {
  width: 100px;
  margin: 0 0 20px -55px;
  height: 60px;
}
.itineryList {
  padding-left: 9px;
}
main {
  background-color: #fff;
}
.swiper {
  width: 100%;
  height: 300px;
}
.layoutGallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  display: none;
  z-index: 100000;
}
.closeButton {
  position: absolute;
  top: 7%;
  right: 69px;
  cursor: pointer;
}
.closeButton img {
  width: 30px;
  height: 30px;
}
.galleryContainer {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layoutGallery.open {
  display: block;
}
.imgSlider img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.tripAdviser {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.tripAdviser img {
  max-width: 100%;
  width: 69%;
  height: 62px;
}
.reviewImgContainer {
  background-image: url(Crociera\ sul\ Nilo\ e\ Piramidi\ _\ Crociera\ sul\ Nilo\ e\ Cairo_files/reviewImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 15px 80px;
  position: relative;
}
.reviewHeader span:nth-of-type(1) {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;

  font-weight: 600;
}
.reviewHeader span:nth-of-type(2) {
  font-size: 34px;
  line-height: 38px;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.reviewHeader span:nth-of-type(2) a {
  text-decoration: underline !important;
}
.reviewLine {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 90px;
  margin: 0 auto;
}
.authorInfo i {
  color: #e46d30;
}
.authorInfo span:nth-of-type(1) {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
.authorInfo span:nth-of-type(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #bdc2cb;
}
.commentAuthor {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
}
.cardReview {
  border-radius: 10px;
}
.SingelTaps {
  border: 1px dashed #cfd3da;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease;
}
.SingelTaps::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -8px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #e46d30;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.SingelTaps.active {
  color: #fff;
  background-color: #e46d30;
  border: 1px solid #e46d30;
}
.SingelTaps.active::after {
  opacity: 1;
}
.SingelTaps.active span {
  color: #fff;
}
.SingelTaps span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1428571429;
  color: #000000;
}
.sectionView {
  display: none;
}
.sectionView.active {
  display: block;
}
footer {
  background-color: #003366;
}
#logo_home {
  background-color: white;
  width: fit-content;
  padding: 9px 14px;
  border-radius: 10px;
}
.logoFooter img {
  width: 244px;
  height: 68px;
}
@keyframes wiggle {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@media only screen and (min-width: 786px) {
  .contentSlidertour {
  }
  .button_moblie {
    display: none;
  }
  .contentSlidertour .headerSlider {
    color: #212529;
    font-size: 40px;
  }
  .imageSlider {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .contentSlidertour .priceTour {
    color: #fff;
    font-size: 13px;
  }
  .contentSlidertour .priceTour span {
    font-size: 60px;
    color: #f06b53;
  }
  .gallerSingelImage img:hover {
    transform: scale(0.9);
  }
  .galleryMT {
    margin-top: 120px;
  }
  .gallerSingelImage img {
    border-radius: 10px;
  }

  .gallerSingelImage.mainImage {
    height: 100%;
  }
  .gallerSingelImage.mainImage img {
    height: 100%;
  }
  .swiper {
    width: 800px;
    height: 600px;
  }
  .closeButton {
    top: 12%;
    right: 253px;
  }
  .tripAdviser img {
    max-width: 100%;
    width: 26%;
    height: 60px;
  }
  .SingelTaps:hover::after {
    opacity: 1;
  }
  .SingelTaps:hover {
    background-color: #e46d30;
    border: 1px solid #e46d30;
  }
  .SingelTaps:hover span {
    color: #fff;
  }
  .galleryContainer {
    top: 40%;
    left: 50%;
  }
}
